@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body{
  min-height: 100dvh;
  font-family: "Poppins" , sans-serif;
  background-color: #0D0F1C;
  color: #3E4784;
  font-size: 1.25rem;
}

h3{
  color: #EAECF5;
}


 
